[openweathermap]
api_key=0
location_id = 1729525

[mqtt]
subscriber_id = apc-iot:subx1
server_address = localhost
mqtt_port = 1883
keep_alive_time = 60
top_level_topic = apc-iot
subtopics = 113, 056
qos_level = 0
# minimum time to wait (in seconds) between messages before a reset timer signal is sent to motes in network
timeout_duration = 1200

[mongodb]
db_name = apc-iot
db_address = localhost
db_port = 27017
db_motedata_collection = apc_data
db_prediction_collection = apc_predictions

[csv_api]
columns_sensor = Temperature (°C), Humidity (%%RH), PM25 (ug/m3),
                      CO (PPM), NO2 (PPM), O3 (PPB),
                      Wind Speed (m/s), Wind Direction
columns_external = api_weather, api_wind, date
columns_mote_info = myName, Uptime (sec), Def Route, RSSI (dBm), Preferred Address, On-Chip Temp (mC),
                            VDD3 (mV), calibration

[apc_model]
use_api_wind = 1
lazy_load = 0

# relative to project location
server_file = csv_data/air-quality-data.csv

predictor_model_name = ensemble_stacking

invalid_values = , -1
